<p>
	<%# if session[:user_id].present? %>
		<ul>
			<% @suggestion_box.suggestions.each do |suggestion| %>
				<li class="suggestion">
					<div class="suggestion">
					<p><%= link_to suggestion.name, suggestion_box_suggestion_url(@suggestion_box.id, suggestion.id) %></p>
					<p><%= suggestion.description %></p>
					<% if session[:user_id].present? %>
						<% if @current_user.votes.nil? || @current_user.votes.find_by_suggestion_id(suggestion.id).nil? %>
							<%= render 'vote_form', :suggestion => suggestion %>
						<% else %>
						  Total Votes: <b><%= suggestion.votes.count %></b> | 
							Average Score: <b><%= average_rating(suggestion) %></b>

							<div class="comment_box">
								<%= link_to 'Show Comments', '#', :class => 'show_comments' %>
								<div id="<%= dom_id(suggestion) %>" class="hidden_comments">
									<ul>
										<% suggestion.votes.each do |vote| %>
											<% if vote.comment.blank? %>
											<% else %>
												<li><em>"<%= vote.comment %>"</em></li>
											<% end %>
										<% end %>
									</ul>
								</div>
							</div>	
						  
						<% end %>
					<% else %>
						<%= link_to 'Sign in to vote for and comment on this suggestion', new_session_url, :class => 'signin_to_vote' %>  						
					<% end %>
					</div>
				</li>
			<% end %>
		</ul>
	<%# else %>
	  
</p>
