<h4>All Suggestion Boxes</h4>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Organization</th>

		<% if session[:user_id].present? && @current_user.administrator? %>
	    <th>Open</th>
	    <th>By Invite Only</th>
	    <th>Votable</th>
	    <th>Anonymous Suggestions</th>
			<th></th>
			<th></th>
		<% end %>

  </tr>

<% @suggestion_boxes.each do |suggestion_box| %>
	<% if suggestion_box.open? || (session[:user_id].present? && @current_user.administrator?) %>
	  <tr>
	    <td><%= link_to suggestion_box.title, suggestion_box %></td>
	    <td><%= suggestion_box.description %></td>
	    <td>
				<% if suggestion_box.organization.present? %>
					<%= suggestion_box.organization.name %>
				<% else %>
				  None specified
				<% end %>
			</td>

			<% if session[:user_id].present? && @current_user.administrator? %>
		    <td><%= suggestion_box.open %></td>
		    <td><%= suggestion_box.by_invite_only %></td>
		    <td><%= suggestion_box.votable %></td>
		    <td><%= suggestion_box.anonymous_suggestions %></td>

		    <td><%= link_to 'Edit', edit_suggestion_box_path(suggestion_box) %></td>
		    <td><%= link_to 'Destroy', suggestion_box, confirm: 'Are you sure?', method: :delete %></td>
			<% end %>

	  </tr>
	<% end %>
<% end %>
</table>

<br />

<h5><%= link_to 'Create a Suggestion Box', new_suggestion_box_path %></h5>
