	<div id="suggestion-boxes">	

		<div class="row create-link">			
			<h5><%= link_to 'Create a Suggestion Box', new_suggestion_box_path %></h5>

			<% if session[:user_id].present? && @current_user.administrator? %>
				<%= paginate @all_suggestion_boxes %>
			<% else %>
			  <%= paginate @open_suggestion_boxes %>
			<% end %>

		</div>
		
		<table>
		
			<thead>
				<div class="row">					
				  <tr>
				    <th class="title">Suggestion Box</th>
				    <th>Description</th>
						<th>Total # Suggestions</th>
				    <!-- <th>Organization</th> -->

						<% if session[:user_id].present? && @current_user.administrator? %>
					    <th>Open</th>
					    <th>Private</th>
					    <th>Votable</th>
					    <th>Anonymous</th>
							<th></th>
							<th></th>
						<% end %>
				  </tr>
				</div>
			</thead>

			<tbody>
				<% if session[:user_id].present? && @current_user.administrator? %>
					<% @all_suggestion_boxes.each do |suggestion_box| %>			
							<%= render 'list_of_suggestion_boxes', :suggestion_box => suggestion_box %>
						<% end %>
				<% else %>
					<% @open_suggestion_boxes.each do |suggestion_box| %>
						<%= render 'list_of_suggestion_boxes', :suggestion_box => suggestion_box %>
					<% end %>
				<% end %>	
			</tbody>


		</table>
	</div>
