<aside>
	<p>
	  <b>Name:</b>
	  <%= @user.name %>
	</p>

	<p>
	  <b>Email:</b>
	  <%= @user.email %>
	</p>
	
	<p>
		<%= link_to 'Edit user details', edit_user_path(@user) %> |
		<%= link_to 'Back', root_url %>
	</p>
</aside>

<section>

	<div class="user-boxes">
		<p>
			<b>Suggestion Boxes you've created:</b>
			<% if @user.suggestion_boxes.present? %>
				<ol>
					<% @user.suggestion_boxes.each do |suggestion_box| %>
						<li><%= link_to suggestion_box.title, suggestion_box %></li>
					<% end %>
				</ol>
			<% else %>
				You haven't created a Suggestion Box yet.<br>
				<%= link_to 'Would you like to create a Suggestion Box?', new_suggestion_box_url %>
			<% end %>
		</p>
	</div>


	<% if @user.suggestions.present? %>
		<div class="user-suggestions">
			<p>
				<b>Suggestions you've made:</b>
				<br>
				<em>(By default, suggestions are anonymous unless the Suggestion Box creator specifies otherwise. 
					Suggestions that appear hear are for Suggestion Boxes which did not permit anonymous suggestions.)</em>
				<ol>
					<% @user.suggestions.each do |suggestion| %>
						<li>
							You suggested: 
								<%= suggestion.name %>
							<br>
							For: <%= link_to suggestion.suggestion_box.title, suggestion_box_url(suggestion.suggestion_box) %>
						</li>
					<% end %>
				</ol>
			</p>
		</div>
	<% end %>
	
</section>