<h1>Listing suggestions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Link</th>
    <th>Suggestion box</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @suggestion_box.suggestions.each do |suggestion| %>
  <tr>
    <td><%= suggestion.name %></td>
    <td><%= suggestion.description %></td>
    <td><%= suggestion.link %></td>
    <td><%= suggestion.suggestion_box_id %></td>
    <td><%= suggestion.user_id %></td>
    <td><%= link_to 'Show', suggestion_box_suggestion_url(@suggestion_box.id, suggestion.id) %></td>
    <td><%= link_to 'Edit', edit_suggestion_box_suggestion_url(@suggestion_box.id, suggestion.id) %></td>
    <td><%= link_to 'Destroy', suggestion_box_suggestion_url(@suggestion_box.id, suggestion.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Suggestion', new_suggestion_box_suggestion_url(@suggestion_box.id) %>
